body{
    text-align: center;
}

.cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: gray;
    padding:20px;
    border-radius: 10px;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    color:black;
    padding:20px;
    border-radius: 20px;
    margin: 10px;
    width: 200px;
    height: 200px;
}

#delivery{
    display: none;
    background-color: greenyellow;
    color:black;
    padding:20px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.button{
    padding:20px;
    border-radius: 10px;
}

.btn-warning{
    background-color: orange;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
}

.btn-success{
    background-color: green;
    color:white;
    margin-left: 20%;
    margin-right: 20%;
    display: none;
}